<h2>Edit Admin</h2>

<%= form_for(@admin) do |f| %>
  <%= @admin.errors.full_messages %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Apagar Administrador</h3>

<p> <%= button_to "Cancel my account", admin_registration_path(@admin), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
