<%= render 'shared/navbar'%>

<div class = "container pb-3 pt-4">
  <h3><span class="badge badge-pill badge-warning">Novo Administrador</span></h3>
    
  <%= form_for(@admin) do |f| %>
    <% if @admin.errors.full_messages.empty? %>
      <div class="py-4"></div> <%# Div apenas para dar espaco %>
    <% else %>
      <% @admin.errors.full_messages.each do |e| %>
        <span class="badge badge-danger my-3"> <%= e %> </span>
      <% end %>
    <% end %>

    <div class="field form-group">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>

    <div class="field form-group">
      <%= f.label :password, "Senha" %>
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div class="field form-group">
      <%= f.label :password_confirmation, "Confirme sua senha" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div class="actions w-100 d-flex justify-content-between my-5">
      <%= link_to 'Back', :back, class: "btn btn-secondary px-5" %>
      <%= f.submit "Criar", class: "btn btn-primary px-5" %>
    </div>
  <% end %>

</div>