<%= form_with(model: type, local: true) do |form| %>
  
  <% if type.errors.full_messages.empty? %>
    <div class="py-4"></div> <%# Div apenas para dar espaco %>
  <% else %>
    <% type.errors.full_messages.each do |e| %>
      <span class="badge badge-danger my-3"> <%= e %> </span>
    <% end %>
  <% end %>

  <div class="field form-group">
    <%= form.label :name, "Nome" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="w-100 d-flex justify-content-center">
    <h4><span class="badge badge-pill badge-warning my-4">Adicionar Participantes</span></h4>
  </div>

  <div class="field d-flex justify-content-center flex-wrap">
    
    <%= render 'tables_for_form', core: "PRES" %>
    <%= render 'tables_for_form', core: "NDP" %>
    <%= render 'tables_for_form', core: "NUT" %>
    <%= render 'tables_for_form', core: "NOE" %>
    <%= render 'tables_for_form', core: "NAT" %>
    <%= render 'tables_for_form', core: "NUMAR" %>
    <%= render 'tables_for_form', core: "nenhum" %>
  
  </div>

  <div class="actions d-flex justify-content-between my-5">
    <%= link_to 'Voltar', :back, class: "btn btn-secondary px-5" %>
    <%= form.submit 'Criar', class: "btn btn-primary buttons-new px-5" if current_page?('/types/new')%>
    <%= form.submit 'Atualizar', class: "btn btn-primary buttons-new px-4" if !current_page?('/types/new')%>
  </div>
<% end %>