<%= render 'shared/navbar'%>

<div class = "container pb-3 pt-4">
  <h3><span class="badge badge-pill badge-success">Tipos</span></h3>
  <br>

  <table class="table table-responsive-sm table-responsive-md">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Participantes</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @types.each do |type| %>
        <tr>
          <td><%= type.name %></td>

          <td style="min-width:15em;">
            <% type.users.where(active: true).each do |u| %>
              <span class="badge badge-primary"> <%= u.nome %> </span>
            <% end %>
          </td>          
          
          <td><%= link_to 'Edit', edit_type_path(type), class: "text-warning" %></td>
          <td><%= link_to 'Destroy', type, method: :delete, data: { confirm: 'Are you sure?' }, class: "text-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'Voltar', new_attendance_list_path, class: "btn btn-secondary px-5 my-5" %>

</div>