<%= form_with(model: attendance_list, local: true) do |form| %>
  <% if attendance_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(attendance_list.errors.count, "error") %> prohibited this attendance_list from being saved:</h2>

      <ul>
      <% attendance_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class = "container pb-3 pt-4">
    <div class= "row">
      <div class="field col">
        <%= form.label :data %>
        <%= form.date_select :data, class: "form-control" %>
      </div>
    </div>

    <div class="field">
      <%= form.label :description %>
      <%= form.text_field :description %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
</div>
