  <%= form_with(model: user, local: true) do |form| %>
    <% if user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  <div class = "container pb-3 pt-4">
    <div class= "row">
      <div class="field col">
        <%= form.label :nome %>
        <%= form.text_field :nome, class: "form-control" %>
      </div>

      <div class="field col">
        <%= form.label :email %>
        <%= form.text_field :email, class: "form-control"%>
      </div>
  </div>
  <br>
  <div class = "row">
      <div class="field col">
        <%= form.check_box :membro, class: "form-check-label" %>
        <%= form.label :membro %>
      </div>

      <%# Selecao de nucleo %>
      <div id="choose_core" style="display:none;">
        <%= form.label :nucleo, "Escolha o núcleo do usuário" %>
        <%= form.select :nucleo, ['nenhum', 'NDP', 'NOE', 'NUT', 'NAM_BOPE', 'NAM_Marketing'], class: "form-control" %>
      </div>

      <%# JAVASCRIPT PARA APARECER OU APAGAR SELECAO DE NUCLEO SE USER FOR MEMBRO OU NAO %>
      <script type="text/javascript">
        var checkbox = document.getElementById('user_membro');
        var details_div = document.getElementById('choose_core');

        if(checkbox.checked) { // Para aparecer o select quando editar um membro
          details_div.style['display'] = 'block';
        }

        checkbox.onchange = function() {
          if(this.checked) {
            details_div.style['display'] = 'block';
          } else {
            details_div.style['display'] = 'none';
            document.getElementById('user_nucleo').value = 'nenhum'; // Para Trainee sempre serem de nenhum nucleo
          }
        };
      </script>
      <%# END JAVASCRIPT %>
  </div>
  <br>
      <div class="actions">
        <%= form.submit 'Criar', class: "btn btn btn-primary float-right buttons-new mr-3 px-4'" if current_page?('/users/new')%>
        <%= form.submit 'Atualizar', class: "btn btn btn-primary float-right buttons-new mr-3 px-4'" if !current_page?('/users/new')%>
      </div>
    <% end %>
  </div>
</div>