<%= form_with(model: user, local: true) do |form| %>
  
  <% if user.errors.full_messages.empty? %>
    <div class="py-4"></div> <%# Div apenas para dar espaco %>
  <% else %>
    <% user.errors.full_messages.each do |e| %>
      <span class="badge badge-danger my-3"> <%= e %> </span>
    <% end %>
  <% end %>

  <div class= "row">
    <div class="field col">
      <%= form.label :nome %>
      <%= form.text_field :nome, class: "form-control" %>
    </div>

    <div class="field col">
      <%= form.label :email %>
      <%= form.text_field :email, class: "form-control"%>
    </div>
  </div>

  <div class = "d-flex mt-4">
      <div class="field col form-group">
        <%= form.check_box :membro, class: "form-check-label" %>
        <%= form.label :membro %>
      </div>

      <%# Selecao de nucleo %>
      <div id="choose_core" style="display:none;" class="col form-group">
        <%= form.label :nucleo, "Escolha o núcleo do usuário" %>
        <%= form.select :nucleo, ['nenhum', 'NDP', 'NOE', 'NUT', 'NAT', 'NUMAR', 'PRES'], {}, class: "form-control" %>
      </div>

      <%# JAVASCRIPT PARA APARECER OU APAGAR SELECAO DE NUCLEO SE USER FOR MEMBRO OU NAO %>
      <script type="text/javascript">
        var checkbox = document.getElementById('user_membro');
        var details_div = document.getElementById('choose_core');

        if(checkbox.checked) { // Para aparecer o select quando editar um membro
          details_div.style['display'] = 'block';
        }

        checkbox.onchange = function() {
          if(this.checked) {
            details_div.style['display'] = 'block';
          } else {
            details_div.style['display'] = 'none';
            document.getElementById('user_nucleo').value = 'nenhum'; // Para Trainee sempre serem de nenhum nucleo
          }
        };
      </script>
      <%# END JAVASCRIPT %>
  </div>

  <div class="actions d-flex justify-content-between my-5">
    <%= link_to 'Voltar', :back, class: "btn btn-secondary px-5" %>
    <%= form.submit 'Criar', class: "btn btn-primary buttons-new px-5" if current_page?('/users/new')%>
    <%= form.submit 'Atualizar', class: "btn btn-primary buttons-new px-4" if !current_page?('/users/new')%>
  </div>

<% end %>