<%= render 'shared/navbar'%>

<div class = "container pb-3 pt-4">
	<h3><span class="badge badge-pill badge-success">Editar lista de Chamada</span></h3>
  	<br>
	<%= form_tag status_path, :method => :patch do %>
		<table class = "table table-responsive-sm table-responsive-md table-hover">
			<tr>
				<th>Nome</th>
				<th>Email</th>
				<th>Estado</th>
			</tr>
		
			<% @status.each do |st| %>
				<%= fields_for 'status[]', st do |s| %>
				<tr>
					<td> 
						<%= @user.find(st.user_id).nome %>
					</td>
					
					<td> 
						<%= @user.find(st.user_id).email %>
					</td>
					
					<td>
						<%= s.select :state, options_for_select(["Presente", "Falta", "Falta Justificada", "Atraso Justificado"], st.state), {}, 
												{ class: 'form-control', 
												disabled: !@user.find(st.user_id).active,
												style: "min-width:11em;" } %>
					</td>

					<%= s.hidden_field :user_id, value: st.user_id %>
				</tr>
				<% end %>
			<% end %>
		</table>
	
		<div class="actions">
		<%= submit_tag "Salva Alterações", class: "btn btn-primary float-right mr-3 px-4" %>
		<%= link_to 'Back', :back, class: 'btn btn-secondary mr-3 px-4'%>
	</div>

	<% end %>
</div>